<style>
  .social {
    display: flex;
    flex-direction: row;
    padding-top: 20px;

  }

  .social-icons {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    filter: invert(93%) sepia(4%) saturate(38%) hue-rotate(202deg) brightness(86%) contrast(87%);
  }
</style>
<section class="social">
  <a href="https://github.com/rodrcastro"><img
      src="/social-media/github.svg"
      alt
      class="social-icons"></a>
  <a href="https://instagram.com/rodrcastro"><img
      src="/social-media/instagram.svg"
      alt
      class="social-icons"></a>
  <a href="https://twitter.com/rodrcastro"><img
      src="/social-media/twitter.svg"
      alt
      class="social-icons"></a>
  <a href="https://linkedin.com/rodrcastro"><img
      src="/social-media/linkedin.svg"
      alt
      class="social-icons"></a>
</section>