<style>
  .social {
    display: flex;
    flex-direction: row;
    padding-top: 20px;

  }

  .social-icons {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    filter: invert(93%) sepia(4%) saturate(38%) hue-rotate(202deg) brightness(86%) contrast(87%);
  }
</style>
<section class="social">
  <a href="https://github.com/rodrcastro"><img
      src="/assets/img/github.svg"
      alt="Social media icon and link for Rodrigo's GitHub"
      class="social-icons"></a>
  <a href="https://instagram.com/rodrcastro"><img
      src="/assets/img/instagram.svg"
      alt="Social media icon and link for Rodrigo's Instagram"
      class="social-icons"></a>
  <a href="https://twitter.com/rodrcastro"><img
      src="/assets/img/twitter.svg"
      alt="Social media icon and link for Rodrigo's Twitter (X)"
      class="social-icons"></a>
  <a href="https://linkedin.com/rodrcastro"><img
      src="/assets/img/linkedin.svg"
      alt="Social media icon and link for Rodrigo's Linkedin"
      class="social-icons"></a>
</section>