<style>
  .social {
    display: flex;
    flex-direction: row;
    padding-top: 20px;

  }

  .social-icons {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    filter: invert(93%) sepia(4%) saturate(38%) hue-rotate(202deg) brightness(86%) contrast(87%);
  }
</style>
<section class="social">
  <a href="https://github.com/rodrcastro"><img
      src="/assets/img/github.svg"
      alt="Link para o GitHub de Rodrigo Castro"
      class="social-icons"></a>
  <a href="https://bsky.app/profile/rodrcastro.com"><img
      src="/assets/img/bluesky.svg"
      alt="Link para o Bluesky de Rodrigo Castro"
      class="social-icons"></a>
  <a href="https://cupoftea.social/@rodrcastro"><img
      src="/assets/img/mastodon.svg"
      alt="Link para o Mastodon de Rodrigo Castro"
      class="social-icons"></a>
  <a href="https://linkedin.com/rodrcastro"><img
      src="/assets/img/linkedin.svg"
      alt="Link para o Linkedin de Rodrigo Castro"
      class="social-icons"></a>
  <a href="mailto:blog@rodrcastro.com?subject=Comentário"><img
      src="/assets/img/email.svg"
      alt="Envie um email para Rodrigo Castro"
      class="social-icons"></a>
</section>